 /* GLOBAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #32495B;
}

 
/* tag ripetuti */

.float-left{
  float: left;
}

.float-right{
  float:right
}

.height-box{
  height: 100px;
  line-height: 100px;
  width: 100%;
}

.mw-12{
  min-width: 1200px;
}

p{ 
  font-weight: 400;
}

.small{
  font-size: 80%;
}

.t-115{
  font-size: 115%;
}

.t-170{
font-size: 170%;
}

.wt-80{
  width: 80%;
  margin: auto;
}

.w-50{
  width: 50%;
  margin: auto;
}

.ft-600{
  font-weight: 600;
}

header span,
main span{
  text-transform: uppercase;
}

h2{
  font-size:250%;
  margin-bottom: 30px;
}

.mb-40{
  margin-bottom: 40px;
}

ul li{
  display: inline-block;
  list-style: none;
  padding: 0 5px;
}

li a{
  text-decoration: none;
  color: #32495B;
  padding: 10px;
}
 /* bottoni */
 .btn {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  line-height: 20px;
  color: white;
  background-color: #FE775A;
  text-decoration: none;
}

.btn-wh {
  background-color: white;
  border: 1px solid #FE775A;
  color: #FE775A;
  padding: 9px;
}

.btn-special{
  margin: 30px 0 10px 0;
  padding: 20px;
}

.btn-max{
  padding: 20px 30px;
}

 /* HEADER */

header{
  width: 100%;
}

 /* menù in movimento e fisso*/
.fixed-nav{
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #F4F9FD ;
  border-bottom: 1px solid #32495B;
  min-width: 1200px;

}

.lingua .english i:nth-child(2){
  padding-right: 20px;
  border-right: 1px solid #32495B ;
}

.fa-search{
  color: #00A4BD;
}

.log-in li{
  margin-left: 10px;
}

.menu-header{
  margin-top: 100px;
}

 /* sezione background header */
.bk-header{
  background-color: #FFF5EE ;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 760px;
  background-position: 100% 10%;
  background-size: 1805px;
}

 /* jumbotron */
.jumbotron {
  position: relative;
  height: 760px; 
}

.jumbotron-text {
  position: absolute;
  width: 45%;
  top: 20%;
  left: 0;
  transform: translateY(-20%);
}

.jumbotron h1 {
  font-size: 350%;
}

.jumbotron p {
  line-height: 2;
}

.color-header{
  background-color: #AFEBE4;
  border-top: 4px solid #33475B;
  border-bottom: 4px solid #33475B;
}

  /* MAIN */

.container{
  background-color: #F4F9FD ;
  margin-top: 100px;
  padding-bottom: 50px;
}

.container h4{
  text-transform: uppercase;
}

.intro-main{
  padding-top: 50px;
  text-align: center;
  margin-bottom: 150px;
  
}

.intro-main img{
  height: 200px;
}
 /* parte dei box flottanti 1+3 */
.box{
  text-align: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px #d2d8dfea;
  padding: 0 25px;
}

.hubspot{
  height: 350px;
  padding-top: 65px;
  line-height: 20px;
}

.hubspot .learn{
  width: 35%;
}

.text-free{
  width: 65%;
  text-align: left;
}
.hubspot .learn img{
  height: 130px;
}

.hubspot .learn a{
  padding: 25px;
  margin: 7px 0;
}

.text-free p{
  padding-right: 10%;
}

.info-data { 
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.info-data:after {
  position: absolute;
  top: 10px;
  left: 25%;
  content: '';
  display: block;
  width: 60%;
  height: 1px;
 border-bottom: 2px solid #B5BBBE;
}

.check-orange li::before{
  content: "";
  background: url(//cdn2.hubspot.net/hubfs/53/assets/hubspot.com/partners/images/Orange_Checkmark.svg) no-repeat;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-bottom: -0.3125rem;
  margin-right: 2px;
}

.col-3{
  width: 29%;
  margin-top: 60px;
  display: inline-block;
}

.col-3 img,
.col-3 h3,
.col-3 p{
  margin: 30px;
}
.col-3 img{
  height: 120px;
}

.col-3 p{
  padding-bottom: 60px ;
}

.container-col .col-3:nth-child(2){
  margin: 0px 6%;
}

.col-3 nav ul li{
  display: block; 
  text-align: left;
  
}
.col-3 h4{
  
  padding: 40px;
  border-top: 2px solid #899397;
}

/* background colorato */
.container-text{
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  color: white;
  padding: 50px;
  text-align: center;

}

.container-img{
  margin-top: 85px;
}

.riga-uno {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid white;
}

.img-box{
  padding-bottom: 15px;
  width: 25%;
  border-right: 1px solid white;
  text-align: center;
}

.img-box img{
  width: 20%;
  margin-top: 30px;
  min-height: 70px;
}

.img-box h2::after{
  content: '\002B';
  font-size: 70%;
  font-weight: 400;
  padding-left: 5px;
  vertical-align: middle;
}

.img-box.four, .img-box.eight{
  border-right: 0;
}

.img-box.three img{
  width: 30%;
}

.img-box.four img,
.img-box.eight img{
  width: 40%;
}
/* ultima parte main */
.number{
  position: relative;
  margin: 100px;
}


.patner .number p{
  font-size: 100%;
  line-height: 2;
}

.sponsor{
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.sponsor ul li{
  display: inline;
}

.sponsor li img{
  display: inline-block;
  width: 20%;
  margin: 2%;
  margin-bottom: 15px;
  vertical-align: middle
}

.text-end{
  padding: 40px 185px 0px 0px;
}

.woman{
  text-align: right;
}

.woman img{
  width: 40%;     
}

/* FOOTER */
footer{
  background-color: #32495B;
}

footer .col-4{
  padding-top: 50px;
  width: 25%;
  color:white
}

footer .col-4 li a{
  color: white;
  line-height: 40px;
  font-size: 90%;
}

.btn-wh.support{
  color:#32495B;
  border: none;
  padding: 0;
}

.languages ul{
  text-align: center;
  padding: 80px 0 20px;
}

.languages ul li a{
  padding: 0 0 0px 10px;
  color: white;
}

.last-container{
  padding: 40px 0;
  color: white;
  border-top:1px solid white;
}

.part-right span{
  padding-right: 20px;
}